/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* END */
body {
    font-family: 'Nunito', sans-serif;
}
.status-pelamar {
    font-style:italic;
}
.status-pelamar span{
    color:#3498db;
}
.status-pelamar p{
    color:#95a5a6;
}
.approval-1 {
    margin-top:10px;
}
.approval-2 {
    background-color:#e9ecef;
    margin-top:10px;
    margin-left:5px;
}
.approval-3 {
    background-color:#e9ecef;
    margin-top:10px;
    margin-left:5px;
}
.radio-box p{
    margin-left:10px;
    margin-top:-5px;
    font-size: 0.9em;
}
.preview-hr {
    border: 1px solid #000;
}
.statusmng {
    color:red;
}
.btn-upload {
    margin-top: 10px;
}
.download-contoh {
    margin-right:-13em;
}
.for-job {
    margin-left:13px;
}
.app {
    background-color: rgb(247, 247, 247) !important;
}
.header {
    background-color: white !important;
}
.sidebar-header .brand {
    color: rgb(164, 176, 190);
    text-align: left;
    padding-left: 25px;
    line-height: 70px;
    font-size: 16px;
}
#search-container {
    background-color: white;
    margin-left: 30px;
    border: 1px solid #d2dae2;
    border-radius: 20px;
    
}
.sidebar {
    background-color: white;
}
#btn-reset {
    border-color: transparent !important;
    margin-left: -39px;
    color: red;
    background-color: white !important;
}
.sidebar .sidebar-menu{
    font-size:10pt;
    font-family: 'Roboto', sans-serif;
}
.sidebar .sidebar-menu li a {
    color: rgb(164, 176, 190) !important;
    text-decoration: none;
    display: block;
}
.sidebar .sidebar-menu > li.active > a, .sidebar .sidebar-menu > li.active > a:hover {
    background-color: rgb(52, 152, 219, 0.6) !important;
    color: white !important;
    border-left: 6px solid #2f89fc;
}
.sidebar .sidebar-menu > li.open > a {
    background-color: white;
}
.sidebar .sidebar-menu > li.active > a, .sidebar .sidebar-menu > li:hover > a:hover {
    background-color: rgb(52, 152, 219, 0.6) !important;
    color: white !important;
    border-left: 6px solid #2f89fc;
}
.sidebar .sidebar-menu > li > .sidebar-nav > li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 15px;
    color:white !important;
    background-color: rgb(206, 214, 224) !important;
}
